<p id="notice"><%= notice %></p>

<h1>Biodata</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fathername</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Dateofbirth</th>
      <th>Ssc</th>
      <th>Inter</th>
      <th>Btech</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biodata.each do |biodatum| %>
      <tr>
        <td><%= biodatum.name %></td>
        <td><%= biodatum.fathername %></td>
        <td><%= biodatum.gender %></td>
        <td><%= biodatum.email %></td>
        <td><%= biodatum.dateofbirth %></td>
        <td><%= biodatum.ssc %></td>
        <td><%= biodatum.inter %></td>
        <td><%= biodatum.btech %></td>
        <td><%= link_to 'Show', biodatum %></td>
        <td><%= link_to 'Edit', edit_biodatum_path(biodatum) %></td>
        <td><%= link_to 'Destroy', biodatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biodatum', new_biodatum_path %>
